html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'futura', 'helvetica', 'Roboto', sans-serif;
  background: #A2EEE6;
}

.container {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 4%;
  width: 92%;
  height: 100vh;
  background: none;
}

#zuko-title {
  position: absolute;
  height: 22%;
  right: 52%;
  top: -4.4%;
  z-index: 5;
}

#box1 {
  position: absolute;
  background-color: #DB7ACC;
  width: 84%;
  height: 100vh;
  top: 6%;
  left: 10%;
  /*z-index: 1;*/
}

#box2 {
  position: absolute;
  background-color: #fff;
  width: 94%;
  height: 100vh;
  top: 13%;
  right: 1.2%;
  z-index: 3;
  float: right;
}

#box3 {
  position: absolute;
  background-color: #FFC600;
  width: 19%;
  top: 17%;
  left: -2.5%;
  padding-bottom: 5%;
  transition: all 0.5s;
  /*z-index: 4;*/
}

#box3:hover {
  width: 21%;
  z-index: 10;
  /*transition-delay: .5s;*/
}

#box3 li {
  font-size: 20px;
  list-style-type: none;
  border-bottom: 3px solid black;
  padding: 20px 20px 20px 1px;
  width: 72%;
}

#box3 a {
  text-decoration: none;
  color: inherit;
}

#dope-leaf {
  position: absolute;
}

.intro-text {
  position: absolute;
  /*font-family: 'Helvetica Neue';*/
  font-family:'Gochi Hand', cursive;
  font-size: 38px;
  line-height: 13px;
  font-weight: 500;
  top: 20%;
  left: 10%;
}

.intro-text img {
  width: 30%;
  margin-left: 27%;
}

#frolicking-page {
  position: absolute;
  background-color: #FFEBBE;
  width: 94%;
  height: auto;
  top: 13%;
  right: 1.2%;
  z-index: 3;
  float: right;
  margin-bottom: 100px;
}

#rents-page {
  position: absolute;
  font-family:'Gochi Hand', cursive;
  font-size: 30px;
  background-color: #EB4639 !important;
  width: 94%;
  height: 100vh;
  top: 13%;
  right: 1.2%;
  z-index: 3;
  float: right;
  padding: 20px;
}

.rents-inner img {
  float: left;
}

.rents-inner p {
  width: 75%;
  margin: 0;
  padding: 0;
}

#jess-bruce {
  width: 30%;
  height: auto;
  padding: 10px;
}

#frolicking-inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 5px 45px;
  margin-bottom: 40px;
}

#frolicking-page img {
  width: 28%;
  height: auto;
  margin: auto;
  flex: 1;
  padding: 8px;
  margin-bottom: 5px;
  margin-top: 30px;
}

.hidden {
  display: none;
}
#zuko-bolts {
  position: absolute;
  width: 64%;
  right: -5.1%;
  top: -0.111%;
}

@media all and (max-width: 500px) {
  #zuko-title {
    position: absolute;
    height: 9%;
    right: 20%;
    top: -0.5%;
}

  #zuko-bolts {
    width: 93%;
    right: -9.9%;
  }

  #box2 {
    top: 9%;
  }

  #dope-leaf {
    width: 100%;
  }

  .intro-text {
    font-size: 25px;
    top: 35%;
  }

  #box3 {
    width: 40%;
    top: 17%;
    left: -14.5%;
    padding-bottom: 5%;
  }

  #box3 li {
    font-size: 11px;
    padding: 10px 10px 10px 1px;
    border-bottom: 2px solid black;
  }

}
