html, body {
  background: #A2EEE6;
  font-family: 'futura', 'helvetica', 'Roboto', sans-serif;
  height: 100%;
}

#box1 {
  background-color: #DB7ACC;
  width: 76%;
  height: 100%;
  margin-top: 6%;
  left: 15%;
  /*z-index: 1;*/
  position: absolute;
}

#box2 {
  background-color: #fff;
  width: 87%;
  height: 100%;
  margin-top: -3%;
  margin-right: 4%;
  z-index: 3;
  float: right;
  position: relative;
}

#frolicking-page {
  background-color: #FFEBBE;
  width: 87%;
  height: auto;
  margin-top: -3%;
  margin-right: 4%;
  z-index: 3;
  float: right;
  position: relative;
  margin-bottom: 100px;
}

#rents-page {
  background-color: #EB4639 !important;
  width: 87%;
  height: auto;
  margin-top: -3%;
  margin-right: 4%;
  z-index: 3;
  float: right;
  position: relative;
  margin-bottom: 100px;
}

#frolicking-inner, #rents-inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 5px 45px;
  margin-bottom: 40px;
}

#frolicking-page img, #rents-page img {
  width: 28%;
  height: auto;
  margin: auto;
  flex: 1;
  padding: 8px;
  margin-bottom: 5px;
  margin-top: 30px;
}

.hidden {
  display: none;
}
#zuko-bolts {
  width: 64%;
  right: -41.1%;
  position: relative;
}

#box3 {
  background-color: #FFC600;
  width: 16%;
  top: 31%;
  left: 4%;
  z-index: 1  ;
  position: absolute;
  padding-bottom: 3%;
}

#box3:hover {
  z-index: 10;
  transition-delay: .1s;
}

#box3 li {
  font-size: 20px;
  list-style-type: none;
  border-bottom: 3px solid black;
  padding: 20px 20px 20px 1px;
  width: 72%;
}

#box3 a {
  text-decoration: none;
  color: inherit;
}

#zuko-title {
  position: relative;
  width: 36%;
  min-width: 220px;
  height: auto;
  margin-left: 15%;
  margin-top: 2.6%;    z-index: 4;
}
